'.source.gsc':
  'func()':
    'prefix': 'fn'
    'body': '${1:func}( ${2:param} ) {\n\t${3:/* code */}\n}'
  '#include … ;':
    'prefix': 'inc'
    'body': '#include ${1};\n$0'
  '#using_animtree("…");':
    'prefix': 'atr'
    'body': '#using_animtree( "${1:animtree}" );\n$0'
'.source.gsc .meta.function.body.gsc':
  'For Loop':
    'prefix': 'for'
    'body': 'for( ${1:i} = 0; ${1:i} < ${2:count}; ${1:i}${3:++} ) {\n\t${4:/* code */}\n}'
  'While Loop':
    'prefix': 'while'
    'body': 'while( ${1:/* condition */} ) {\n\t${2:/* code */}\n}'
  'If Condition':
    'prefix': 'if'
    'body': 'if( ${1:/* condition */} ) {\n\t${2:/* code */}\n}'
  'If Else':
    'prefix': 'ife'
    'body': 'if( ${1:/* condition */} ) {\n\t${2:/* code */}\n} else {\n\t${3:/* code */}\n}'
  'Switch Statement':
    'prefix': 'switch'
    'body': 'switch( ${1:/* expression */} ) {\n\tcase ${2:/* value */}:$0\n}'
  'case':
    'prefix': 'cs'
    'body': 'case ${1:/* value */}:\n\t$0'
  'iprintln':
    'prefix': 'ipr'
    'body': 'iPrintLn( "${1:text}" );\n$0'
  'waittill':
    'prefix': 'waitt'
    'body': 'waittill( "${1:notify}" );\n$0'
  'endon':
    'prefix': 'end'
    'body': 'endon( "${1:notify}" );\n$0'
  'notify':
    'prefix': 'not'
    'body': 'notify( "${1:notify}" );\n$0'